* {
    box-sizing: border-box;
}

body {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    background-color: #F8FAFC;
}
.common-shadow{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
}

nav{
    border-bottom: 2px solid rgb(211, 210, 210);
}
.nav-logo{
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    width: 50px;
}

.search-box input{
    outline: 2px solid silver;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}
.search-box input::placeholder{
    font-weight: bold;
}
.search-box input:focus{
    outline-color: rgb(24, 35, 186);
}

.main{
    max-width: 1240px;
    margin: 0 auto;
}
.butn{
    margin-right: 5px;
    padding: 6px 30px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 4px;
    color: #64748B;
    border: 1px solid silver;
    cursor: pointer;
}
.butn:hover{
    color: #4A00FF;
    border-color: #4A00FF;
}
.btn-active{
    font-weight: 600;
    background-color: #4A00FF;
    color: aliceblue;
    border-color: #4A00FF;
}
.btn-active:hover{
    color: aliceblue !important;
}

.card-container{
    background-color: #FBFBFB;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
}
.card{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
}